{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $ci := env "CI" | not | not -}}
{{- $github_workspace := env "GITHUB_WORKSPACE" | not | not -}}
{{- $type := promptString "Install type: home|work|full|min" -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  ci = {{ $ci }}
  codespaces = {{ $codespaces }}
  github_workspace = {{ $github_workspace }}
{{- if or $ci $codespaces $github_workspace }}
  install_type = "min"
{{- else }}{{/* Interactive setup so prompt for install type */}}
  install_type = {{ $type | quote }}
{{- end }}
