#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
packages="bat fd-find fzf grc gnupg2 jq zsh neovim ripgrep"

{{- if ne .install_type "min" }}
if [ -n "$packages" ]; then
  # Extra opts required because of rust build bug - https://askubuntu.com/questions/1290262/unable-to-install-bat-error-trying-to-overwrite-usr-crates2-json-which
  sudo apt-get update && sudo apt-get install -o Dpkg::Options::="--force-overwrite" -y $to_install
fi
{{- else -}}

{{- end }}

{{- else if eq .chezmoi.os "darwin" }}
if ! command -v brew > /dev/null 2>&1 && [ -s "$HOME/.Brewfile" ]; then
  bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)" > "$HOME/tmp/homebrew.log" 2>&1
fi
brew bundle install --global

{{- end }}