{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $ci := env "CI" | not | not -}}
{{- $github_workspace := stat "/workspace/github" | not | not -}}
{{- $remote_container := env "REMOTE_CONTAINERS" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  ci = {{ $ci }}
  mac = {{ eq .chezmoi.os "darwin" }}
  linux = {{ eq .chezmoi.os "linux" }}
  codespaces = {{ $codespaces }}
  github_workspace = {{ $github_workspace }}
  remote_container = {{ $remote_container }}
{{- if or $ci $codespaces $github_workspace $remote_container }}
  install_type = "min"
{{- else }}{{/* Interactive setup so prompt for install type */}}
  install_type = {{ promptString "Install type: home|work|full|min" | quote }}
{{- end }}

[onepassword]
  cache = true

[diff]
    exclude = ["scripts"]

[status]
    exclude = ["scripts"]

[edit]
    command = "code"
    args = ["--new-window"]