{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $ci := env "CI" | not | not -}}
{{- $github_workspace := env "GITHUB_WORKSPACE" | not | not -}}
{{- $remote_containers := env "REMOTE_CONTAINERS" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  ci = {{ $ci }}
  codespaces = {{ $codespaces }}
  github_workspace = {{ $github_workspace }}
  remote_containers = {{ $remote_containers }}
{{- if or $ci $codespaces $github_workspace $remote_containers }}
  install_type = "min"
{{- else }}{{/* Interactive setup so prompt for install type */}}
  install_type = {{ promptString "Install type: home|work|full|min" | quote }}
{{- end }}
