export GITHUB_TOKEN="{{ onepasswordRead "op://Private/q4kvwdiuszjcvfdosnp3jjylsu/token" }}"
export HOMEBREW_GITHUB_API_TOKEN="{{ onepasswordRead "op://Private/Homebrew Personal Access Token/token" }}"