tap 'github/gh'                 # Needed for gh
tap 'homebrew/bundle'
tap 'homebrew/cask-drivers'     # Needed for garmin-express
tap 'homebrew/cask-fonts'       # Needed for fonts
tap 'homebrew/cask-versions'    # Needed for beta versions
tap 'muesli/tap'
tap 'goreleaser/tap'
tap 'tavianator/tap'            # Needed for bfs
tap 'espanso/espanso'           # Needed for espanso

{{- if eq .install_type "work" }}
# Work-specific tools
# brew 'azure-cli'
{{ end }}

{{- if eq .install_type "home" }}
# Home-specific tools
# brew 'ffmpeg'
# brew 'vips'             # Used by jekyll plugin to resize images
# brew 'webp'             # For converting images to webp
# brew 'youtube-dl'
{{ end }}

# Install everywhere
brew 'base64'
brew 'bash'             # Only needed for my Bash scripts now macOS isn't shipping updates etc
brew 'bat'              # Like cat, but prettier
brew 'btop'
brew 'coreutils'
brew 'docker'
brew 'docker-compose'
brew 'dos2unix'
brew 'duf'
brew 'eza'
brew 'exercism'
brew 'fd'               # Like find, but faster
brew 'findutils'
brew 'fswatch'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'git-delta'
brew 'git-lfs'
brew 'gnu-sed'
brew 'gnupg'
brew 'go'
brew 'gofumpt'
brew 'golangci-lint'
brew 'goreleaser'
brew 'grc'              # General colorizer
brew 'htop'
brew 'hyperfine'        # Great cli benchmarking tool
brew 'icu4c'
brew 'jj'
brew 'jjui'
brew 'jq'
brew 'just'
brew 'lcov'
brew 'lesspipe'
brew 'libyaml'
brew 'lockrun'
brew 'mas'              # CLI tool for installing Mac App Store apps at the end of this file.
brew 'mise'
brew 'moreutils'
brew 'most'             # Better more/less - I only use this for paging and colouring man pages.
brew 'pnpm'
#brew 'openssl'
brew 'pinentry-mac'
brew 'p7zip'
brew 'prettyping'
brew 'pstree'
brew 'rclone'
brew 'restic'
brew 'revive'           # fast & extensible static code analysis framework for Go
brew 'ripgrep'          # rg, an even faster version of ag
brew 'rsync'
brew 'shellcheck'
brew 'tldr'
brew 'tmux'
brew 'trash'
brew 'watch'
brew 'xz'
brew 'yq'
brew 'zoxide'
brew 'zsh'
# brew 'zsh-completions'        # My shell installs this
# brew 'zsh-autosuggestions'    # My shell installs this

{{- if eq .install_type "work" }}
# Work-specific apps
cask 'loom'
# cask 'microsoft-edge'
cask 'microsoft-teams'
cask 'slack'
cask 'viscosity'
{{- end }}

{{- if eq .install_type "home" }}
# Home-specific apps
cask 'calibre'
cask 'concept2-utility'
cask 'exodus'
cask 'garmin-express'
cask 'garmin-virb-edit'
cask 'handbrake'
cask 'netnewswire'
# cask 'transmission'
cask 'transmit'
cask 'trainerroad'
cask 'zwift'
{{- end }}

# Install everywhere
cask '1password'
cask '1password-cli'
cask 'appcleaner'
cask 'bartender'
cask 'bruno'                 # Alternative to Postman/Insomnia who've both gone subscription
cask 'cleanmymac'
cask 'cleanshot'
cask 'dash'
cask 'docker'
cask 'espanso'
cask 'fantastical'
cask 'firefox'
cask 'font-jetbrains-mono'
cask 'font-jetbrains-mono-nerd-font'
cask 'font-cascadia-mono'
cask 'font-cascadia-mono-nf'
cask 'font-fira-mono'
cask 'font-fira-mono-nerd-font'
cask 'font-meslo-lg'
cask 'font-meslo-lg-nerd-font'
cask 'ghostty'
cask 'iterm2'
cask 'karabiner-elements'
cask 'livebook'
cask 'mailtrackerblocker'
cask 'netspot'
cask 'ngrok'
cask 'obsidian'
cask 'qlmarkdown'             # QuickLook support for markdown
cask 'qlimagesize'            # QuickLook support for webp and showing image dimensions
cask 'raycast'                # Alfred alternative
cask 'spotify'
cask 'the-unarchiver'
cask 'visual-studio-code-insiders'

# AppStore Apps
{{- if eq .install_type "home" }}
mas 'Microsoft OneNote', id: 784_801_555
{{ end }}

mas 'Hand Mirror', id: 1_502_839_586
# mas 'Pixelmator', id: 407_963_104
mas 'pomodorome', id: 1_484_801_884
mas 'StopTheMadness', id: 1_376_402_589
# mas 'WireGuard', id: 1_451_685_025

# vim: set filetype=ruby
