tap 'github/gh'                 # Needed for gh
tap 'heroku/brew'               # Needed for heroku
tap 'homebrew/bundle'
tap 'homebrew/cask-drivers'     # Needed for garmin-express
tap 'homebrew/cask-fonts'       # Needed for fonts
tap 'homebrew/cask-versions'    # Needed for beta versions
tap 'homebrew/cask'
tap 'homebrew/command-not-found'
tap 'muesli/tap'
tap 'yqrashawn/goku'            # Needed for goku
tap 'goreleaser/tap'
tap 'kopia/kopia'
tap 'tavianator/tap'            # Needed for bfs
tap 'espanso/espanso'           # Needed for espanso

# Work-specific tools
{{- if eq .install_type "work" }}
brew 'adr-tools'
# brew 'ansible'
# brew 'awscli'
# brew 'azure-cli'
# brew 's3cmd'
{{ end }}

{{- if eq .install_type "home" }}
brew 'ffmpeg'
brew 'vips'             # Used by jekyll plugin to resize images
brew 'webp'             # For converting images to webp
brew 'youtube-dl'
{{ end }}

# Install everywhere
brew 'act'              # Run GitHub Actions locally
brew 'asdf'             # Replaces rbenv, pyenv, nodeenv etc
brew 'base64'
brew 'bash'             # Only needed for my Bash scripts now macOS isn't shipping updates etc
brew 'bat'              # Like cat, but prettier
brew 'bfs'              # Breadth-first version of find - much quicker and used by my fzf config.
brew 'coreutils'
# brew 'croc'             # A tool for sending large files directly to someone on the CLI
brew 'dos2unix'
brew 'duf'
brew 'exa'
brew 'exercism'
brew 'fd'               # Like find, but faster
brew 'findutils'
brew 'fswatch'
# brew 'fzf'            # Installed by my shell now
brew 'gh'
brew 'git'
brew 'git-delta'
brew 'git-lfs'
brew 'gnu-sed'
brew 'gnupg'
brew 'go'
brew 'goku'
brew 'goreleaser'
brew 'grc'              # General colorizer
brew 'heroku'
brew 'htop'
brew 'hub'
brew 'hyperfine'        # Great cli benchmarking tool
brew 'icu4c'
brew 'jq'
brew 'kopia'            # UI downloadable from GitHub releases - https://github.com/kopia/kopia/releases/latest
brew 'lcov'
brew 'lesspipe'
brew 'lockrun'
brew 'mas'              # CLI tool for installing Mac App Store apps at the end of this file.
brew 'moreutils'
#brew 'openssl'
brew 'pinentry-mac'
brew 'p7zip'
brew 'prettyping'
brew 'pstree'
brew 'rclone'
brew 'restic'
brew 'ripgrep'          # rg, an even faster version of ag
brew 'rsync'
brew 'shellcheck'
brew 'tldr'
brew 'tmux'
brew 'watch'
brew 'xz'
brew 'zsh'
# brew 'zsh-completions'        # My shell installs this
# brew 'zsh-autosuggestions'    # My shell installs this

# Work-specific apps
{{- if eq .install_type "work" }}
# cask 'apache-directory-studio'
# cask 'viscosity'
{{- end }}

# Home-specific apps
{{- if eq .install_type "home" }}
cask 'calibre'
cask 'chatmate-for-whatsapp'
cask 'concept2-utility'
cask 'exodus'
cask 'garmin-express'
cask 'netnewswire'
cask 'portfolioperformance'
cask 'telegram'
cask 'transmission'
cask 'transmit'
#cask 'trainerroad'
cask 'zwift'
{{- end }}

# Install everywhere
# cask '1password'
cask '1password-cli'
# cask 'alfred'
# cask 'amazon-drive'
# cask 'amazon-music'
cask 'appcleaner'
# cask 'arq'
# cask 'balenaetcher'
cask 'bartender'
cask 'cleanmymac'
cask 'cleanshot'
cask 'dash'
cask 'divvy'
cask 'docker'
#cask 'dropbox'
#cask 'encryptme'
cask 'espanso'
cask 'fantastical'
cask 'firefox'
# cask 'flux'
cask 'font-jetbrains-mono'
cask 'font-jetbrains-mono-nerd-font'
# cask 'google-chrome'        # Think about the amount of data Google already has. Also https://chromeisbad.com/
cask 'hammerspoon'
cask 'hey'
#cask 'insomnia' # Alternative to Postman
cask 'iterm2'
cask 'little-snitch'
cask 'karabiner-elements'
cask 'mailtrackerblocker'
# cask 'microsoft-edge'
# cask 'microsoft-teams'
# cask 'multipass'              # Run Ubuntu Server easily locally
# cask 'muzzle'
cask 'netspot'
cask 'ngrok'
# cask 'numi'
cask 'obsidian'
# cask 'pallotron-yubiswitch'
# cask 'postman'
cask 'qlmarkdown'             # QuickLook support for markdown
cask 'qlimagesize'            # QuickLook support for webp and showing image dimensions
cask 'raycast'                # Alfred alternative
cask 'rocket'
# cask 'skitch'
# cask 'sketch'
cask 'signal'
# cask 'slack'
cask 'spotify'
cask 'the-unarchiver'
# cask 'vagrant'
# cask 'virtualbox'
# cask 'virtualbox-extension-pack'
cask 'visual-studio-code'
# cask 'vmware-fusion'
# cask 'wireshark' # This is having problems installing at the mo - Oct 2019.
# cask 'yubico-yubikey-manager'

# AppStore Apps
{{- if eq .install_type "home" }}
mas 'Microsoft OneNote', id: 784_801_555
{{ end }}
#mas 'AdGuard for Safari', id: 1_440_147_259
mas 'Bear', id: 1_091_189_122
# mas 'Craft', id: 1_487_937_127
# mas 'Magnet', id: 441_258_766
# mas 'Microsoft Remote Desktop 10', id: 1_295_203_466
# mas 'Monit', id: 1_014_850_245
# mas 'Pixelmator', id: 407_963_104
mas 'pomodorome', id: 1_484_801_884
# mas 'WireGuard', id: 1_451_685_025

# vim: set filetype=ruby