version: "2"
authtoken: {{ if .codespaces }}{{ env "NGROK_AUTHTOKEN" }}{{ else if lookPath "op" }}{{ onepasswordRead "op://Private/ofex57bu4ty7dz335jfftqrtpm/credential" }}{{ else }}{{ end }}
region: us
tunnels:
  your_tunnel_name:
    proto: http
    hostname: {{ if lookPath "op" }}{{ onepasswordRead "op://Private/ofex57bu4ty7dz335jfftqrtpm/hostname" }}{{ end }}
    addr: 127.0.0.1:80

    # -------------------------
    # Additional options
    # -------------------------
    # auth: "username:password"
    # host_header: rewrite
    # inspect: true
    # bind_tls: true
