version: "2"
authtoken: {{ onepasswordRead "op://Personal/Ngrok/credential" }}
region: us
tunnels:
  your_tunnel_name:
    proto: http
    hostname: {{ onepasswordRead "op://Personal/Ngrok/hostname" }}
    addr: 127.0.0.1:80

    # -------------------------
    # Additional options
    # -------------------------
    # auth: "username:password"
    # host_header: rewrite
    # inspect: true
    # bind_tls: true
