version: "2"
authtoken: {{ if .codespaces }}{{ env "NGROK_AUTHTOKEN" }}{{ else if lookPath "op" }}{{ onepasswordRead "op://Personal/Ngrok Token/credential" }}{{ else }}{{ end }}
region: us
tunnels:
  your_tunnel_name:
    proto: http
    hostname: lildude.ngrok.io
    addr: 127.0.0.1:80

    # -------------------------
    # Additional options
    # -------------------------
    # auth: "username:password"
    # host_header: rewrite
    # inspect: true
    # bind_tls: true
