{{- if eq .chezmoi.os "darwin" -}}
  {{- if ne .install_type "min" -}}
#!/usr/bin/env bash
PLUGINS="nodejs ruby"

if [ $(asdf plugin list | wc -l) -gt 0 ]; then
  asdf plugin update --all
else
  for plugin in $PLUGINS; do
    asdf plugin list | grep -q $plugin || asdf plugin add $plugin https://github.com/asdf-vm/asdf-${plugin}.git
  done
fi

for plugin in $PLUGINS; do
  asdf install $plugin latest &
  wait
  asdf global $plugin latest
done

  {{- end -}}
{{- end }}