#!/usr/bin/env bash

_exists() {
  command -v "$1" > /dev/null 2>&1
}
# Install mise if not already installed
if ! _exists mise; then
  curl -fsSL https://mise.run | sh
  export PATH="$HOME/.local/mise/bin:$PATH"
fi

# Install/update packages with mise
mise install

# Install packages we can't manage with mise
{{ if .linux -}}
  arch=$(uname -m)
  packages=""
  {{- if eq .install_type "min" }}

  {{- else }}
    packages+=" most gnupg2 grc"
  {{- end }}
  sudo apt-get -q update > /dev/null && sudo apt-get -q install -y $packages > /dev/null

{{- else if .mac }}
  {{- if ne .install_type "min" }}
    if ! _exists git; then
      xcode-select --install
    fi
    if ! _exists brew && [ -f "$HOME/.config/homebrew/Brewfile" ]; then
      bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
      eval '$(/opt/homebrew/bin/brew shellenv)'
    fi

    # Build the restic-wrapper binary
    go build -o "$HOME/.local/gobin/restic-wrapper" "{{- .chezmoi.sourceDir }}/../ano/restic-wrapper/restic-wrapper.go"

    # Load/reload backup launchd job
    if launchctl list local.restic_backup > /dev/null 2>&1; then
      launchctl unload "$HOME/Library/LaunchAgents/local.restic_backup.plist"
    fi
    launchctl load "$HOME/Library/LaunchAgents/local.restic_backup.plist"
  {{- end -}}
{{- end }}
