{{- if .mac -}}
  {{- if ne .install_type "min" -}}
#!/usr/bin/env bash

{{- if lookPath "mise" }}
(mise --silent --yes --quiet self-update
mise use --silent --global ruby@3.3
mise use --silent --global node@lts
#mise use --silent --global go@latest
mise use --silent --global elixir@latest
mise use --silent --global erlang@latest
mise use --silent --global github:anomalyco/opencode@latest) 2>&1 >> /dev/null

{{- end -}}
  {{- end -}}
{{- end }}