{{- if .mac -}}
#!/usr/bin/env bash
# hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
  {{- if ne .install_type "min" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --file $HOME/.config/homebrew/Brewfile || true
  {{- end }}
{{- end }}