{{- if .mac -}}
  {{- if ne .install_type "min" -}}
#!/usr/bin/env bash

{{- if lookPath "mise" }}

mise use --global ruby@3.3
mise use --global node@lts
#mise use --global go@latest
mise use --global elixir@latest
mise use --global erlang@latest

{{- end -}}
  {{- end -}}
{{- end }}